@keyframes aparecerL {
    from {
        left: -30%;
    }
    to {
        left: 5px;
    }
}

@keyframes aparecerR {
    from {
        top: -10%;
        right: -30%;
    }
    to {
        top: 40%;
        right: 40%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #8EC3FF;
    transition: 0.4;
    z-index: 3;
}

.menu {
    position: relative;
    padding: 5px;
    cursor: pointer;
    transition: .4s;
}

.menu div {
    width: 32px;
    height: 3px;
    margin: 5px;
    background-color: gray;
    transition: .4s;
}

.rodar {
    position: absolute;
    transform: rotate(47deg);
    top: 10px;
    right: 5px;
}
.menu .rodar-negativo {
    position: absolute;
    right: 5px;
    top: 10px;
    transform: rotate(-47deg);
}

nav {
    display: none;
    position: absolute;
    top: 90%;
    right: 3px;
    background-color: #dbdbdb;
    color: rgb(29, 29, 29);
    width: 37vw;
}

nav ul {
    list-style: none;
    width: 100%;
}

nav li {
    text-align: center;
    padding: 10px;
    border-top: 2px solid white;
}

nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}

.tela {
    max-width: 100vw;
    padding-top: 80px;
    z-index: 1;
}

.conteudo {
    max-width: 100%;
}

main {
    background-image: linear-gradient(to bottom, white, #0077ff, #0051ff);
}

#home {
    position: relative;
    padding: 0;
    height: 100vh; 
    border-bottom: 15px solid white;
}

#home #img-ns-fatima {
    position: absolute;
    left: 5px;
    bottom: 0;
    background: url(../imagens/Ns-Fatima.png) no-repeat center bottom;
    background-size: contain; 
    width: 50vw;
    height: 85vh;
    animation-name: aparecerL;
    animation-duration: 1.5s;
}

#home .texto {
    position: absolute;
    top: 40%;
    right: 40%;
    transform: translateX(60%);
    width: 250px;
    font-size: 2em;
    text-align: center;
    color: white;
    animation-name: aparecerR;
    animation-duration: 1.5s;
}

#fundacao {
    min-height: 100vh;
    margin-top: 30px;
}

#fundacao .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    line-height: 1.3em;
    color: white;
}

#fundacao p {
    width: 85%;
    text-align: justify;
    padding: 15px;
}

/* fundadores e coordenadors */
#fund-cord .conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    line-height: 1.3em;
    color: white;
}

#fund-cord #tronco {
    margin-top: 40px;
    height: 1000px;
    width: 5px;
    background-color: white;
}

#fund-cord p{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background-color: white;
    color: black;
}

#fund-cord .linhaE {
    right: 7%;
    animation-name: aparecerR;
    animation-duration: 1.2s;
}

#fund-cord .linhaD {
    left: 7%;
    animation-name: aparecerL;
    animation-duration: 1.2s;
}

#fund-cord .linha1 {
    top: 15%;
}
#fund-cord .linha1 p {
    position: absolute;
    top: 15%;
}

#fund-cord .linha2 {
    top: 35%;
}
#fund-cord .linha2 p {
    position: absolute;
    top: 35%;
}

#fund-cord .linha3 {
    top: 55%;
}
#fund-cord .linha3 p {
    position: absolute;
    top: 55%;
}
#fund-cord .linha4 {
    top: 75%;
}
#fund-cord .linha4 p {
    position: absolute;
    top: 75%;
}


#fund-cord .foto {
    position: absolute;
    width: 140px;
    height: 150px;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .menu {display: none;}
    nav {
        display: flex;
        position: relative;
        width: fit-content;
        font-size: 1.1em;
        background-color: transparent;
    }
    nav ul, nav li {display: flex; border: none; gap: 20px;}
    
    nav a {
        color: #c4c4c4;
    }
    
    nav a:hover, nav a:focus {
        padding: 5px;
        color: white;
        background-color: #9c9c9c;
        border-radius: 8px;
    }
}

@media screen and (min-width: 968px) {
    #fund-cord .linhaE {
        right: 20%;
    }
    
    #fund-cord .linhaD {
        left: 20%;
    }    
}
@media screen and (min-width: 1068px) {
    #fund-cord .linhaE {
        right: 30%;
    }
    
    #fund-cord .linhaD {
        left: 30%;
    }    
}